.bar1{
    background: #00796b;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}
 .bar1 .icone a{
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    /* transition: 0.3s; */
    margin-left: 20px;
}
.span{
    color: #f96f59;
}
.header{
    background-color: #00796b;
}
.sous1{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: absolute;
    margin-left: -18px;
}
.sous1 .sous2{
    background-color:#00796b;
    padding-bottom: 7%;
    border-radius: 5px;
    display: none;
}
.dropdown .sous1{
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 2s ease, transform 2s ease;
}
.dropdown:hover .sous1 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: absolute;
    margin-left: -18px;
    opacity: 1;
    line-height: 1rem;
    transform: translateY(0);
}
li{
    list-style: none;
}
.header .navbar {
    padding:15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.header .navbar-toggler {
    border: 0;
    color: color;
    line-height:2;
}
.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header .nav-item {
    margin: 0 10px;
}
.header .nav-item .nav-link {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    display:inline-block;
}
.header .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background:  rgba(253, 60, 41, 0.8);
    transition: 0.3s;
    bottom: 0;
}
.header .nav-item .nav-link.active::after,
.header .nav-item .nav-link:hover::after {
    width: 100%;
}
.header .nav-item .nav-link.active,
.header .nav-item .nav-link:hover {
    color: white;
}
/* -----parti2---- */
.section1{
    background-color: #00796b;
    height: 45rem;
}
.boutton{
    font-weight: 500;
    padding: 14px 40px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.lien{
    font-size: 20px;
    transition: 0.5s;
    margin-left: 25px;
    color: #fff;
    font-weight: 600;
}
.mots1{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 30px;
}
.box{
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #008d7d;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}
.box .icon{
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6)
}
i{
    font-size: 20px;
}
.bi-easel{
    font-size: 5rem;
}
.bi-gem{
    font-size: 5rem;
}
.bi-geo-alt{
    font-size: 5rem;
}
.bi-command{
    font-size: 5rem;
}
/* section2 */
h2 ::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #00796b;
    left: 0px;
    right: 0;
    margin: auto;
}
.mots2{
    color: #6f6f6f;
}
.bi-check-circle-fill{
    color: #008d7d;
}
.play{
    width: 94px;
    height: 94px;
    background: radial-gradient(#008d7d 50%, rgba(0, 131, 116, 0.4) 52%);
    border-radius: 50%;
    display: block;
    /* position: sticky;
    left: 15rem;
    bottom: 250px; */
    overflow: hidden;
}
.play::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(0, 131, 116, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0)
}
.rond{
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
}
/* section3 */
.carousel-item {
    width: 10%;
}
.ligne{
    margin-left: 120px;
}
/* section4 */
.compteur-valeur{
    color: #00796b;
}
/* section5 */
.call-action{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/cta-bg.jpg) center center;
    background-size: cover;
    padding: 100px 60px;
    border-radius: 15px;
    overflow: hidden;
}
.call-action .play-btn {
    width: 94px;
    height: 94px;
    margin-bottom: 20px;
    background: radial-gradient(#00796b 50%, rgba(0, 131, 116, 0.4) 52%);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: auto;
}
 a{
    text-decoration: none;
}
.call-action .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(0, 131, 116, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
    margin: auto;
}
.call-action .play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675);
    margin: auto;
}

.call-action .cta-btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 48px;
    border-radius: 50px;
    transition: 0.5s;
    background-color:transparent;
    /* margin: 10px; */
    border: 2px solid #fff;
    color: #fff;
    width: 25%;
    margin: auto;
}
.cta-btn:hover{
    color: #fff;
    background-color: #008d7d;
}
/* section6 */
.services{
    background-color: #6f6f6f
}
.ours::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #00796b;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.service-item{
    padding: 40px;
    background: #fff;
    /* height: 100%; */
    border-radius: 10px;
    border: 1px solid beige;
}
.icon-bas{
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}
.icon-bas i{
    font-size: 50px;
}
.icon-bas ::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #eeeeee;
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -20px;
    transition: 0.3s
}
 .icon-bas .activite {
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
}


.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}
.activite{
    color: #000;
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
}
.titres{

        font-weight: 700;
        margin: 0 0 20px 0;
        padding-bottom: 8px;
        font-size: 22px;
        position: relative;
        display: inline-block;
        border-bottom: 4px solid #eeeeee;
        transition: 0.3s;
}
.flech{
    font-size: 30px;
    color: #00796b;
}
.read{
    color: #00796b;
}
/* temoinage */
 /* .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 10px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    background: #fff;
    border-radius: 10px
}
 .testimonial-img {
    width: 90px;
    border-radius: 50px;
    margin-right: 15px;
} */

 .testimonial-wrap {
    padding-left: 10px;
  }
  
 .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 10px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    background: #fff;
    border-radius: 10px;
  }
  
   .testimonial-img {
    width: 90px;
    border-radius: 50px;
    margin-right: 15px;
  }
  
   .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #000;
  }
  
   .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
   .stars {
    margin: 10px 0;
  }
  
   .stars i {
    color: #ffc107;
    margin: 0 1px;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: #009d8b;
    font-size: 26px;
    line-height: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
  }
  
   .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
  }
  
  .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
    .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  
    .swiper-pagination-bullet-active {
    background-color: #00796b;
  }
  
  @media (max-width: 767px) {
    .testimonials .testimonial-wrap {
      padding-left: 0;
    }
  
    .testimonials .testimonial-item {
      padding: 30px;
      margin: 15px;
    }
  
    .testimonials .testimonial-item .testimonial-img {
      position: static;
      left: auto;
    }
  }
  /* portfolio */
  .porflio-intern{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* height: 100%; */
    overflow: hidden;
  }
  .portfolio-info{
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2
  }
  /* team */
  .membre{
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1)
  }
  .member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #6c757d;
}
.media{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.media a {
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb
}
/* price-- */
.price-item{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
    background: #fff;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.pri-titre{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #555555;
    text-align: center;
}
.icon-pri{
    margin: 30px auto 30px auto;
    width: 70px;
    height: 70px;
    background: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;
}
.icon-pri::before {
    position: absolute;
    content: "";
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background: #87c1bb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}
.icon-pri::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: #d2eeeb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-2px);
}
.peti-titre{
    font-size: 48px;
    color: #f32c0e;
    font-weight: 700;
    font-family: var(--font-secondary);
    margin-bottom: 0;
    text-align: center;
}
.petit{
    color: rgba(108, 117, 125, 0.8);
    font-size: 18px;
    font-weight: 400
}
.ul{
    padding: 20px 0;
    list-style: none;
    color: #6c757d;
    text-align: left;
    line-height: 20px;
}
.na span {
     text-decoration: line-through
}
.buy-btn {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
    color: #008d7d;
    border: 1px solid rgba(0, 131, 116, 0.2);
    transition: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
.buy-btn:hover{
    color: #fff;
    background-color: #008d7d;
}
.price-facture{
    z-index: 10;
    border: 3px solid #008d7d;
}
.price-facture{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
    background: #fff;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
/* ---according--- */
.bodyy{
    padding: 0 40px 30px 45px;
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: none;
}
.accordion-button{
    padding: 20px 50px 20px 20px;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    /* color: var(--color-default); */
    text-align: left;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
}
.accordion-button span{
    color: #008d7d;
    font-size: 25px;
}
/* -----post---- */
.recent-posts article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .recent-posts .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
  }
  
  .recent-posts .post-category {
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 10px;
  }
  
  .recent-posts .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .recent-posts .title a {
    color: var(--color-default);
    transition: 0.3s;
  }
  
  .recent-posts .title a:hover {
    color: var(--color-primary);
  }
  
  .recent-posts .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .recent-posts .post-author {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .recent-posts .post-date {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 0;
  }
  /* ---contacte----- */
  .contact .info-container {
    background-color: var(--color-primary);
    height: 100%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  }
  
  .contact .info-item {
    width: 100%;
    background-color: #009282;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .contact .info-item:last-child {
    margin-bottom: 0;
  }
  
  .contact .info-item i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .info-item:hover i {
    background: #fff;
    color: var(--color-primary);
  }
  
  .contact .php-email-form {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 0 10px 10px 0;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--color-primary);
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #008d7d;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: rgba(0, 131, 116, 0.8);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  /* ------pied---- */
  .footer {
    font-size: 14px;
    background-color: #008d7d;
    padding: 50px 0;
    color: white;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
  }
  
  .footer .footer-info p {
    font-size: 14px;

  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }
  @media screen and (min-width:300px) and (max-width:500px){
    .section1{
        background-color: #00796b;
        height: 100%;
    }
  }